body {
  background-color: aliceblue;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}

ul div {
  font-size: large;
  color: darkslategrey;
}

.App {
  text-align: center;
}

.title:hover {
  cursor: pointer;
  color: red;
}

.price-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.price-selector img {
  width: 40px;
  height: 20px;
  margin: 3px;
}

button {
  margin-top: 5px;
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 5px;
  font-size: xx-large;
  border-radius: 10px;
  border: 1px solid gray;
  width: 200px;
  background-color:lightcyan
}